*{
	box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: 200ms;
}
/* Desplazamiento suave */
html {
   scroll-behavior: smooth;
}

body{
   font-family: sans-serif;
}
/*efecto de overlay con video de fondo*/
header{
   position: sticky;
   height: 100svh;
   z-index: 3;
   background-color: rgb(205, 0, 0);
   mix-blend-mode: multiply; /* Solo el fondo se mezcla */
}
.logo{
   margin: .5% 1.5%;
   width: 50px;
}

h1{
   position: absolute;
   color: whitesmoke;
   bottom: 0;
   font-size: 8rem;
   margin: .01em .1em;
}

.fondoMenu{
   background-color: white;
}

/*posicion del menu*/
.menu1{
   height: 100svh;
   width: 30em;
   position: absolute;
   font-size: 1.5em;
   float: inline-end;
   margin:0 1em;
}

/*menu desplegable*/
ul{
   list-style: none;
}
.menu1>ul>li>a{
   color: whitesmoke;
}
.menu1 li a{
   text-decoration: none;
   display: block;
   padding: 10px 15px;
}
nav li a:hover{
   background-color: rgb(220, 220, 220);
   border-radius: 5%;
   color: black;
}
.menu1 li{
   display: inline-block;
   position: relative; 
}
.menu1 li ul{
   display: none;
   position: absolute;
   background: white; 
   box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
   border-radius: 3%;
}
.menu1 li:hover > ul{
   display: block;
   color: black;
}
.menu1 li ul li{
   position:relative;
}

/* Asegura que el section tenga margen */
section{
   margin-top: 100vh; /* Espacio para el header */
   background: white;
   position: relative;
   z-index: 1;
}

/*primer video de fondo para el efecto de la portada*/
.videoABRIL{
   opacity: 30%;
   position: fixed;
   top: 0;
   z-index: 0;
   width: 100%;
   height: 100vh; /* Altura completa de la ventana */
   border: 0;
}

/*separacion entre videos y borde*/
section>div{
   position: relative;
   z-index: 2;
   border: 2rem solid white;
   background-color: white;
}

h2{
   z-index: 2;
   background-color: white;
   mix-blend-mode:luminosity;
}

.video{
   width: auto;
}

video{
   width: 100%;
}

footer, aside{
   z-index: 12;
   position: relative;
   background-color: rgb(183, 36, 36);
}

/*menu aside*/
aside{
   font-size: 200%;
   position: fixed;
   right: 0px;
   top: 0%;
   z-index: 10;
   background: rgba(255, 255, 255, 0.9);
   border-radius: 8px;
   box-shadow: 0 4px 12px rgb(0, 0, 0);
   height: 100svh;
   transform: translateX(82%);
   transition: 300ms;
}
.aside{
   transform: translateY(40svh);
}
nav li a{
   text-decoration: none;
   display: block;
   padding: 10px 15px;
   color: black;
}

aside:hover{
   transform: translateX(0%);
   z-index: 10;
   background: rgba(255, 255, 255, 0.9);
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 4px 12px rgb(0, 0, 0);
}

footer{
   position: relative;
   bottom: 0%;
   width: 100vw;
   background-color: brown;
   font-size: 1em;
}

h3{
   font-size: 5em;
}

footer ul{
   display: inline;
}
footer li{
   text-align: center;
   padding: 2em;
}

footer>ul li a{
   text-decoration: none;
   color: black;
   padding: auto;
}

footer>ul li a:hover{
   color: whitesmoke;
   text-shadow: 0px 0px 5px rgb(107, 16, 16);
}

footer>ul li img:hover{
   box-shadow: 0px 0px 20px rgb(205, 60, 60);
}

#Contactanos{
}
#Ubicanos{
}
#Siguenos>a{
   padding-right: 2em;
   display: inline;
}
#copy{
   position: absolute;
   padding: 1em;
   bottom: 0;
}

@media (mix-width: 1300px) {

}